@import '../general-styling.scss';

.projects-section {

    h2 {
        text-align: center;
        font-size: 2rem;
    }

    .more-to-come {
        // margin-bottom: unset;
    }
}

.demo-button {
    font-size: 25px;
    margin: 60px auto 40px;
    @include button-formatting($demo-button-color-1, $demo-button-color-2);
}