@import '../general-styling.scss';

.home-section {
    text-transform: uppercase;
    height: 92vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    margin-top: -20px;
    padding-top: unset;
    align-items: center;

    @media screen and (min-height: 736px) {
        margin-top: -40px;
        justify-content: center;
    }

    @media screen and (max-height: 600px) {
        margin-top: -50px;
    }


    h1 {
        border: none;
    }

    h2 {
        font-family: $nav-font;
    }

    img {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        object-fit: cover;
        border: $standard-border;

        @media screen and (min-width: $phone-breakpoint) {
            width: 300px;
            height: 300px;
         }

        @media screen and (min-width: $tablet-breakpoint) {
           width: 350px;
           height: 350px;
           margin: 3vh;
        }

    }
}