@import '../general-styling.scss';

.home-section {
    text-transform: uppercase;
    height: 80vh;
    text-align: center;
    padding-bottom: unset;

    @media screen and (min-width: $phone-breakpoint) {
        margin-top: 10vh;
        height: 75vh;
    }


    h1 {
        border: none;
    }

    .first-line {
        font-size: 44px;

        @media screen and (min-width: $desktop-breakpoint) {
            font-size: 60px;
        }
    }

    .second-line {
        font-size: 30px;

        @media screen and (min-width: $desktop-breakpoint) {
            font-size: 40px;
        }
    }
}