@import '../general-styling.scss';

.contact-section {
    margin-bottom: 40px;
    padding-bottom: unset;

    .contact-container {
        @include container;
        background-color: $background-contact;

        h2 {
            text-align: center;
            max-width: 350px;
        }

        form {
            display: flex;
            flex-direction: column;
            font-size: $paragraph-font-sizing;
            width: 90%;
            max-width: 350px;
            margin: auto;

            @media screen and (min-width: $tablet-breakpoint) {
                flex-flow: row wrap;
                justify-content: space-between;
                max-width: 750px;
            }

            field {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 350px;
                text-align: left;
                margin-bottom: 10px;

                label {
                    display: flex;
                    flex-flow: column;
                }

                
                input, textarea {
                    font-size: $paragraph-font-sizing;
                    font-family: $body-font;
                    border: solid  $form-background-color 4px;
                    box-sizing: border-box;
                    outline: none;
                    box-shadow: 3px 3px grey;
                    background-color: $form-background-color;

                    &:focus {
                        transition: 0.3s;
                        box-shadow: 3px 3px $form-color-1;
                        border: $standard-border;
                        background-color: white;
                        
                    }
                }

                textarea {
                    max-width: unset;
                    width: 100%;
                }
            }

            .message-input {
                max-width: unset;
            }  

            .submit-button {
                font-size: $paragraph-font-sizing + 0.3;
                margin: 20px auto;
                border: none;
                @include button-formatting($form-color-1, $form-color-2);
            }
        }
    }
}