@import url('https://fonts.googleapis.com/css?family=Baloo+2|Fredoka+One|Montserrat|Russo+One|Sen&display=swap');

//fonts
$nav-font: 'Sen', sans-serif;
$body-font: 'Baloo 2', cursive;
$title-font: 'Fredoka One', cursive;
$banner-font: 'Russo One', sans-serif;

$paragraph-font-sizing: 1.2rem;
$phone-heading-font-size: 30px;

//colors
$font-color-main: rgb(255, 255, 255);

$nav-hover-color: rgb(26, 206, 50);
$nav-background-color: rgb(25, 32, 27);

$background-color-main: rgb(0, 0, 0);
$background-color-1: rgb(42, 148, 16);
$background-color-2: rgb(25, 56, 16);
$background-color-3: rgb(31, 32, 39);

$demo-button-color: rgb(226, 19, 122);

$form-color: rgb(33, 199, 163);
$form-background-color: rgb(202, 202, 202);

//breakpoints
$phone-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px; 

//general
$standard-transition: all 0.3s ease;
$standard-border: solid white 4px;
$standard-border-radius: 3px;

@mixin hoverAnimate {
    &:hover {
        transform: scale(1.05);
        transition: all 0.5s ease;
    }
}

@mixin content {
    padding: 20px 20px 40px;
    margin: auto;
    max-width: 650px;
    font-size: $paragraph-font-sizing;
}

@mixin container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: auto;
    padding: 50px 10px;
    background-color: $background-color-3;

    h3 {
        text-align: center;
    }
}

body {
    color: white;
    background-color: $background-color-main;
    font-family: $body-font;
}

section {
    margin: auto 20px;
    padding-top: 15px;
    max-width: 1600px;

    @media screen and (min-width: $phone-breakpoint) {
        margin: auto 20px;
    }

    @media screen and (min-width: $tablet-breakpoint) {
        margin: auto 40px;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        margin: auto 60px;
    }

    @media screen and (min-width: $large-desktop-breakpoint) {
        margin: auto;
        padding-bottom: 100px;
    }
}

h1 {
    font-family: $nav-font;
    font-size: 2.2rem;
    text-align: center;
    padding: 10px 20px;
    width: fit-content;
    margin: 40px auto;
    border-left: $standard-border;

    @media screen and (min-width: $tablet-breakpoint) {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 2rem;

    @media screen and (min-width: $tablet-breakpoint) {
        font-size: 2.2rem;
    }
}

h3 {
    font-size: 1.5rem;

    @media screen and (min-width: $tablet-breakpoint) {
        font-size: 1.8rem;
    }
}

.svgBox {
    display: flex;
    justify-content: space-evenly;

    a {
        max-height: 100px;
        max-width: 25%;

        img {
            @include hoverAnimate;
            height: 100%;
            width: 100%;
        }
    }
}