@import '../general-styling.scss';

footer {
    min-height: 220px;
    text-align: center;
    background-color: $background-color-3;
    // margin-top: 40px;
    // background-image: linear-gradient($background-color-main, $background-color-3);

    h4 {
        padding-top: 20px;
        font-size: 15px;
    }

    .svgBox {
       padding-top: 50px;
       justify-content: space-evenly;
       max-width: 600px;
       margin: auto;

       a {
           width: 60px;

           @media screen and (min-width: $phone-breakpoint) {
               width: 70px;
           }

           img:hover {
                transform: scale(1.15);
           }
       }
    }
}