@import '../general-styling.scss';

footer {
    text-align: center;
    background-color: $background-color-main;
    // margin-top: 40px;
    // background-image: linear-gradient($background-color-main, $background-color-3);

    h4 {
        padding-top: 20px;
        font-size: 15px;
    }

    .svgBox {
       padding-top: 20px;
       justify-content: space-evenly;
       max-width: 600px;
       margin: auto;

       a {
           width: 15%;
           max-width: 60px;

           @media screen and (min-width: $phone-breakpoint) {
            //    width: 70px;
           }
       }
    }
}