@import url('https://fonts.googleapis.com/css?family=Baloo+2|Fredoka+One|Montserrat|Russo+One|Sen&display=swap');

$nav-font: 'Sen', sans-serif;
$nav-hover-color: rgb(23, 197, 46);
$nav-background-color: rgb(13, 31, 13);

$body-font: 'Baloo 2', cursive;
// $button-font:
$title-font: 'Fredoka One', cursive;
$banner-font: 'Russo One', sans-serif;

$colored-background-font: rgb(252, 252, 252);
$black-background-font: rgb(255, 255, 255);

$background-color-main: rgb(0, 0, 0);
$background-color-1: rgb(42, 148, 16);
$background-color-2: rgb(25, 56, 16);
$background-color-3: rgb(37, 189, 209);
$background-color-4:  rgb(116, 117, 116);

$phone-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px; 

$standard-transition: all 0.3s ease;

$paragraph-font-sizing: 1.2rem;


body {
    // color: $nav-hover-color;
    background-color: $background-color-main;
    font-family: $body-font;
//   overflow: hidden;
}

header {
    // background-image: linear-gradient($background-color-1, $background-color-main);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

footer {
    color: white;
    min-height: 300px;
    text-align: center;
    background-image: linear-gradient($background-color-main, $background-color-1);

    h1 {
        border: none;
    }
}

section {
//   temporary
    min-height: 700px;
    max-width: 1200px;
    margin: auto;
    padding-top: 15px;
    color: $black-background-font;

}

h1 {
        color: $colored-background-font;
        font-family: $nav-font;
        font-size: 2.5em;
        text-align: center;
        padding: 10px 20px;
        // padding-top: 0px;
        width: fit-content;
        margin: auto;
        margin-top: 40px;
        border-left: solid 4px;
        // border-bottom: solid 2px;
    }

@mixin content {
    padding: 20px 25px 40px;
    margin: auto;
    max-width: 650px;
    font-size: $paragraph-font-sizing;
}

.home-section {
    color: $nav-hover-color;
    text-transform: uppercase;
    height: 90vh;
    text-align: center;
    margin-top: 10vh;

    h1 {
        color: $nav-hover-color;
        // margin: 0.5em;
        border: none;
    }
    
}

.about-section {
    .about-container {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin: auto;
        padding: 50px 10px;

        @media screen and (min-width: $tablet-breakpoint) {
            flex-flow: row;
        }

        .about-content {
           @include content;

            @media screen and (min-width: $desktop-breakpoint) {
                padding: 0px 35px;
                
            }

            h2 {
                margin-top: 0;
                text-align: center;
                font-size: 25px;
                font-style: italic;
            }

            p {
                text-align: justify;
            }
        }
    }

    img {
        border: solid $colored-background-font 4px;
        border-radius: 3px;
        margin: auto;
        max-width: 260px;

        @media screen and (min-width: $desktop-breakpoint) {
            margin-top: 0;
        }
    }
    
}

.projects-section {

    .javaswitch-container {
        display: flex;
        flex-flow: row;

        .left-column {
            @include content;
        }

        .right-column {
            max-height: 400px;
            max-width: 400px;
        }
    }
    // background-image: linear-gradient($background-color-1, $background-color-main);
}

.contact-section {

}


.navbar { 
    position: sticky;
    top: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    width: 0%;
}

.navbar-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 2000px;
    transition: all 0.5s ease-out;
    background-color: $nav-background-color;
    padding-top: 100px;
    text-align: start;


    @media screen and (min-width: $phone-breakpoint) {
        width: 40%; 
    }

    @media screen and (min-width: $desktop-breakpoint) {
        width: 25%;
    }

    .nav-item {
        font-size: 25px;
        font-weight: 600;
        font-family: $nav-font;
        text-decoration: none;
        margin: 0.5em;
        margin-left: 2em;
        color: white;
        width: 95px;

        &:hover {
            transition: $standard-transition;
            transform: scale(1.05);
            color: $nav-hover-color;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            font-size: 30px;
            
        }
    }
}

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    outline: none;
    background: transparent;
    border: none;
    padding: 26px;
    z-index: 1;
    cursor: pointer;

    &:hover {
        .toggle-button-line, 
        .toggle-button-line-top, 
        .toggle-button-line-bottom {
            background: $nav-hover-color;
        }
    }
}

@mixin toggle-button-line {
    margin: 5px;
    width: 35px;
    // border: solid black 3px;
    border-radius: 4px;
    height: 4px;
    background: white;
    transition: $standard-transition;
    transform-origin: 90% center;
}

.toggle-button-line {
    @include toggle-button-line;
}

.toggle-button-line-top {
    @include toggle-button-line;
    transform: rotate(-45deg) scale(1.4);
}

.toggle-button-line-middle { 
    @include toggle-button-line;
    background: transparent;
}

.toggle-button-line-bottom {
    @include toggle-button-line;
    transform: rotate(45deg) scale(1.4);
}

